@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #35d6c3;
  /* Yellow */
  color: #fff;
  /* Dark gray */
}

header nav {
  z-index: 1000;
  display: flex;
  justify-content: center;
}

header nav ul {
  font-weight: 500;
  position: fixed;
  margin: 2rem;
  background-color: #2d2d2d;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
  border-radius: 2rem;
  box-shadow: 0px 2px 40.1px 0px rgba(0, 0, 0, 0.06);
  color: #414141;
  border-radius: 169px;
  border: 1px solid #313131;
  background: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(47.95000076293945px);
}

header nav ul li {
  gap: 2rem;
  padding: 0.8rem;
  border-radius: 2rem;
}

header nav ul li:hover {
  background-color: #afafaf;
}

header nav ul li:last-child {
  color: #ffff;

  background: #31c2b2;

  padding: 0.8rem;
  border-radius: 2rem;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  background-image: url("/images/pattern.png");
  background-size: contain;
}

.hero h1 {
  color: #fff;
  margin-top: 1rem;
  text-align: center;
  line-height: 1;
  font-weight: 700;
}

.hero p {
  color: #818181;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;

  line-height: 1;
  font-weight: 500;
}

.paragraph {
  color: #595959;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.background {
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary_btn {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  padding: 1rem;
  border-radius: 68px;
  background: linear-gradient(91deg, #31c2b2 0.8%, #26dbc6 124.01%);
}

.secondary_btn {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  padding: 1rem;
  border-radius: 68px;
  background: #ffffff;
}

.hero .btns {
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
}

.cards {
  border-radius: 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.055);
  z-index: 1;
}

.projectimg {
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  padding: 1rem;
  /* Adjust the gap between icons as needed */
}

.tech-icons img {
  height: 3rem;
  /* Set the desired height */
  width: auto;
  /* Automatically adjusts the width to maintain aspect ratio */
  padding: 0.4rem;
  background-color: #000000;
  border-radius: 50%;
  object-fit: contain;
  /* Ensures the image is contained within the given dimensions */
}

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  header nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 0;
  }

  header nav ul li:last-child {
    border-radius: 0;
  }
}
